@import "style";

.wp-block-blockify-accordion {

	.is-root-container &.has-background {
		background-color: transparent !important;
	}

	> .block-editor-inner-blocks {
		width: 100%;

		> .block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
			gap: var(--accordion--gap);
		}
	}
}
