@import 'style';

.glide__slides .block-list-appender {
	display: none;
	width: 0 !important;
}

.glide__slide--clone {
	pointer-events: none;
	opacity: .333;
}

.blockify-slider-settings .components-input-control {
	width: 100%;
}
