@import "style";

.wp-block.blockify-form-field {
	display: flex;
	flex-wrap: wrap;
	align-self: stretch;
	flex: 1;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
}
