.blockify-counter-settings {

	.components-panel__row {
		gap: 4px;

		> div {
			width: 100%;
		}
	}

	.components-base-control {
		width: 100%;
	}
}

.block-editor-block-list__layout {

	.wp-block-blockify-counter {

		&:after {
			z-index: 1 !important;
			outline: none !important;
			content: attr(data-suffix) !important;
			pointer-events: auto !important;
			position: initial !important;
			top: auto !important;
			right: auto !important;
			bottom: auto !important;
			left: auto !important;
			border-radius: 0 !important;
			box-shadow: none !important;
		}
	}
}
